.close_icon{
	position: absolute;
    top: -19px;
    right: -19px;
    text-decoration: none !important;
    display: block;
    width: 35px;
    height: 35px;
    background: url("../images/close.png") no-repeat scroll 0 0;
    z-index: 1500;
}